@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
    var(--font4);
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

@font-face {
    font-family: 'mono';
    src: url('../fonte/Monotage.ttf');
}

:root{
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'amor', cursive;  
    --font4: 'lato';
}
body{
    background-color: #F2E9CE;
  
}
img{
    width: 50px;
    height: 50px;
}
header{
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid #D99484;
        border-top: none;
        border-radius: 0px 0px 10px 10px;

}
header img{
display: none;
}

header h1{
    text-align: center;
    font-size: 60px;
    font-variant:  small-caps;
    color: #D99484 ;
    font-family: 'lato';
}

header > p{
    padding-bottom: 50px;
}
span#burguer{          
    display: block;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    background-color:  #D99484;
    border: 1px solid #8C6472;
}
   span#burguer:hover{
    color: #8C0303;
    cursor: pointer;
    border-radius: none;
    transition: .7s ease;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
    text-decoration: none;
}
menu > ul > li > a{
       display: block ;
       padding: 10px;
       text-decoration: none;
       text-align: center  ;
       color: #D99484;
       font-weight: bold;
       background-color: #F2E9CE;
}
section{
    width: 300px;
    margin: auto;
    margin-bottom:2em ;
}
section >h2{
    font-size: 20px;
    color: #8C6472;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}
section > p{
    line-height: 1.7em;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    color: #8C6472;
}
section.session{
   position: absolute;
   top: 60%;
   left:50%;
   transform: translate(-50%, -50%);
}
.session a:hover{
    color: #8C0303;
    cursor: pointer;
    border-radius: none;
    transition: .7s ease;
}
.session a{
    text-align: center;
    color: #8C6472;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-variant: small-caps;
}
a{
    padding: 1px;
    font-weight: lighter;
    color: #D99484;
    text-decoration: none;
}
a:hover{
    color: #8C0303;
}
footer>p{
    color: #D99484;
    padding: 10px;
}
footer{
  
    color: #D99484;
    text-align: center;
    border-top:1px solid #8c030352;
}

