@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@font-face {
    font-family: 'mono';
    src: url('../fonte/Monotage.ttf');
}



:root{
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'amor', cursive;  
}
 
img{
    
    
    width: 50px;
    height: 50px;
}

header{
    background-image: linear-gradient(to top,gray, white);
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.271);
   
}
header img{
display: none;
}
header h1{
    font-size: 8vw;
    font-variant: small-caps;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:160px;

}

header > p{
    padding-bottom: 50px;
}
span#burguer{
               
    display: block;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 5px;
}
   span#burguer:hover{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.253);
    color: black;
    cursor: pointer;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
    text-decoration: none;
   }

   menu > ul > li > a{
       display: block ;
       padding: 10px;
       text-decoration: none;
       text-align: center  ;
       background-color: rgb(97, 97, 97);
       color: white;
       border-top: 2px solid rgb(189, 189, 189);
       width: 98vw;
   }
   menu > ul > li > a:hover{
    background-color: rgb(179, 179, 179);
   }
  
section{
    font-size: 20px;
    font-style: italic;
    font-family:  'mono';
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2.5em;
}

section.normal{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    color: black;
    background-color: rgba(137, 137, 137, 0.059);
}

section.imagem{
    
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.622);
    background-color:rgb(22, 22, 22);
    color: rgb(255, 255, 255);
}
section.imagem > p{
    text-shadow: 2px 1px 0px black;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.536);
}
section > p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5em;
}
section#img1{
         
            
            background-image: url('../imagens/OIP.jfif');
            background-position: right center;
            background-size: cover;
}

section#img2{
            background-position: right center;
            background-size: cover;
            background-image: url('../imagens/OIP\ \(1\).jfif');
}
a{
    font-family: var(--font1);
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

footer{
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
}
footer a:hover::after{
    
   content: '\00A0\1F498';
   }