@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
    var(--font4);
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

@font-face {
    font-family: 'mono';
    src: url('../fonte/Monotage.ttf');
}

/* Color Theme Swatches in Hex */
.Totem-1-hex { color: #A62631; }
.Totem-2-hex { color: #8C6472; }
.Totem-3-hex { color: #F2E9CE; }
.Totem-4-hex { color: #D99484; }
.Totem-5-hex { color: #8C0303; }

:root{
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'amor', cursive;  
    --font4: 'lato';
}
body{
    background-color: #F2E9CE;  
    height: auto;
   
}
img{
    width: 50px;
    height: 50px;
}
header{
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid #D99484;
        border-top: none;
        border-radius: 0px 0px 10px 10px;
}
header img{
display: none;
}

header h1{
    text-align: center;
    font-size: 60px;
    font-variant:  small-caps;
    color: #D99484 ;
    font-family: 'lato';
}

header > p{
    padding-bottom: 50px;
}
span#burguer{          
    display: block;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    background-color:  #D99484;
    border: 1px solid #8C6472;
   
}
   span#burguer:hover{
    color: #8C0303;
    cursor: pointer;
    border-radius: none;
    
}

menu{
    display: none;
    background-color:  #F2E9CE;
    box-shadow: 1px 3px 5px #D99484;
}
menu > ul{
    list-style-type: none;
    text-decoration: none;   
}
menu > ul > li > a{  
       display: block ;
       text-decoration: none;
       text-align: center;
       color: #D99484;
       font-weight: bold;
       background-color: #F2E9CE;
       transition: 1s ease;
}
.sublista{
    display: none;
    text-align: center;
    color: #F2E9CE;
    background-color: #D99484;
    height: 30px;
    padding: 5px;
    box-shadow: inset 1px 0px 2px #7c564d ;
    transition: .4s ease;
    border:1px solid white;
}
a.liPoesia{
   border-bottom: none;
   color: white;
}
a.liPoesia:hover{
   border-bottom: none;
   color: #F2E9CE;
} 
main{
    display: block;
    margin-bottom: 10px;
}
section{
    width: 350px;
    margin: auto;
    text-align: center;
    margin-bottom: 2em;
}
section >h2{
    font-size: 20px;
    color: #8C6472;
    text-align: left;
    padding-bottom: 8px;
}
section > p{
    line-height: 1.7em;
    font-size: 20px;
    text-align: left;
    padding-bottom: 5px;
    color: #8C6472;
}
section.normal{
    
    border: 1px solid #D99484;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    border-radius: 10px 10px;
    padding: 10px;
  }
section.session{
   position: absolute;
   top: 60%;
   left:50%;
   transform: translate(-50%, -50%);
}
.session a:hover{
    color: #8C0303;
    cursor: pointer;
    border-radius: none;
    transition: .7s ease;
}
.session a{
    text-align: center;
    color: #8C6472;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-variant: small-caps;
}
a{
    padding: 1px;
    font-weight: lighter;
    color: #D99484;
    text-decoration: none;
}
a:hover{
    color: #8C0303;
}
#a1{
  border-bottom: 1px solid;
 }
 #a2{
  border-bottom: 1px solid;
 }
 #a3{
  border-bottom: 1px solid;
 }
footer>p{
    color: #D99484;
    padding: 10px;
}
footer{
    color: #D99484;
    text-align: center;
    border-top:1px solid #8c030352;
}

/*parte destinada a keyframes*/
@keyframes pisca{
    form{
        border-right-color: white;
    }
    to{
        border-right-color:  transparent;
       
    }
 }
 
 @keyframes forma {
    from{
        width: 0;
    }
    to{
        width: 23em;
    } 
 }
 .line{ 
    text-align: center;
    padding: 0px;
    display: none;
    color:rgba(0, 0, 0, 0.593);
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
    margin: 0 auto ;
    white-space:nowrap ;
    overflow: hidden;
  }
  .animac{ 
    animation: pisca 600ms infinite  normal ;
    animation: forma 10s steps(120)  infinite normal;
  }
  .ler{
     cursor: pointer;
     display: flex;
     flex-direction: column;
     
  }
  .material-symbols-outlined{
    margin:0 auto;
   
  }
  .material-icons{
    display: block;
    color: #8C0303;
  }
  .material-icons:hover h6{
    display: block;
    color: #D99484;
    padding: 5px;
  }
  h6{
    font-variant: small-caps;
    border-right: 2px solid rgba(0, 0, 0, 0.632);
    box-shadow: 0px 1px 1px #D99484;
  }
 
 